name: Java Rest Assured API Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        default: "qa"
        type: choice
        options:
          - dev
          - qa
          - prod
          - devSM

permissions:
  contents: write   # required for gh-pages

jobs:
  api-tests:
    runs-on: ubuntu-latest

    env:
      AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}

    steps:
      # -----------------------------
      # Checkout code
      # -----------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -----------------------------
      # Setup Java 21
      # -----------------------------
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      # -----------------------------
      # Build project
      # -----------------------------
      - name: Build with Maven
        run: mvn -B package --file pom.xml

      # -----------------------------
      # CLEAN OLD ALLURE RESULTS (CRITICAL)
      # -----------------------------
      - name: Clean old Allure results
        run: rm -rf target/allure-results

      # ----------------------
